<footer class="footer">
  <small>
    <%= t "the" %><%= link_to t("ruby_on_rails"), Settings.link_rails.link_rails_home %>
    <%= t "by" %><%= link_to t("author"), Settings.link_other.link_author %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("variable.about"), about_path %></li>
      <li><%= link_to t("variable.contact"), contact_path %></li>
      <li><%= link_to t("variable.news"), Settings.link_rails.link_rails_news %></li>
    </ul>

  </nav>
  <nav>
    <ul>
      <li><%= link_to t("english"), locale:"en" %></li>
      <li><%= link_to t("vietnamese"), locale:"vi" %></li>
    </ul>
  </nav>
</footer>
